@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:Montserrat, sans-serif;
}
body{
    background-color: #333333;
}
.default-ltr-cache-1q4up1i {
    width: 3rem;
    height: 3rem;
    outline: 2px solid rgb(0,0,0);
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    content: '';
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track{
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb{
    background-color: #C4C8CA;
    /* border-radius: 50px; */
}
::-webkit-scrollbar-thumb:hover{
    background: black;
}
.questions-answered{
    transition: 500ms ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    z-index: -1;
}
.show-text .questions-answered{
    transition: 500ms ease-in-out;
    transform: translateY(0%);
    opacity: 1;
    z-index: 1;
}